Pipeline/pipeline/pl_cp_sql_to_bronze_parquet.json
{
	"name": "pl_cp_sql_to_bronze_parquet",
	"properties": {
		"activities": [
			{
				"name": "Lookup_config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_db",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "config"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_config').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "archive",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "FileExists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('FileExists').output.exists",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Archive",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ParquetSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": false,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "ParquetReadSettings"
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_adls_parquet",
												"type": "DatasetReference",
												"parameters": {
													"p_folder_path": {
														"value": "@concat('EMR/',item().targetpath)",
														"type": "Expression"
													},
													"p_file_name": "@item().tablename"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_parquet",
												"type": "DatasetReference",
												"parameters": {
													"p_folder_path": {
														"value": "@concat('EMR/',item().targetpath,'/archive/',formatDateTime(utcNow(),'yyyy'),'/',formatDateTime(utcNow(),'MM'),'/',formatDateTime(utcNow(),'dd'))",
														"type": "Expression"
													},
													"p_file_name": {
														"value": "@item().tablename",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "FileExists",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adls_parquet",
									"type": "DatasetReference",
									"parameters": {
										"p_folder_path": {
											"value": "@concat('EMR/',item().targetpath)",
											"type": "Expression"
										},
										"p_file_name": {
											"value": "@concat(item().tablename)",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							}
						},
						{
							"name": "copy",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "archive",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().loadtype,'Full')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy_Incremental_Load",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Lookup1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat('SELECT * FROM ',\n    item().hosp_schema,\n    '.',\n    item().tablename,\n    ' WHERE ',\n    item().watermarkcolumn,\n    ' > ''',\n    activity('Lookup1').output.firstRow.last_fetched_date,\n    ''''\n)",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_sql_db",
												"type": "DatasetReference",
												"parameters": {
													"schema": "aa",
													"table": "aa"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_parquet",
												"type": "DatasetReference",
												"parameters": {
													"p_folder_path": {
														"value": "@concat('EMR/',item().targetpath)",
														"type": "Expression"
													},
													"p_file_name": {
														"value": "@item().tablename",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Lookup1",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat(\n'SELECT COALESCE(CAST(MAX(loaddate) AS DATE), ''1990-01-01'') AS last_fetched_date\n FROM dbo.logs\n WHERE tablename = ''',\nitem().hosp_schema,\n'.',\nitem().tablename,\n''''\n)",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_sql_db",
												"type": "DatasetReference",
												"parameters": {
													"schema": "dbo",
													"table": "logs"
												}
											},
											"firstRowOnly": true
										}
									},
									{
										"name": "Stored procedure2",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy_Incremental_Load",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[insertlogs]",
											"storedProcedureParameters": {
												"data_source": {
													"value": {
														"value": "@item().data_source",
														"type": "Expression"
													},
													"type": "String"
												},
												"loaddate": {
													"value": {
														"value": "@utcNow()",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"numberofrowscopied": {
													"value": {
														"value": "@activity('Copy_Incremental_Load').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"tablename": {
													"value": {
														"value": "@item().tablename",
														"type": "Expression"
													},
													"type": "String"
												},
												"watermarkcolumn": {
													"value": {
														"value": "@item().watermarkcolumn",
														"type": "Expression"
													},
													"type": "String"
												},
												"hosp_schema": {
													"value": {
														"value": "@item().hosp_schema",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_sql_db",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy_full_load",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_sql_db",
												"type": "DatasetReference",
												"parameters": {
													"schema": {
														"value": "@item().hosp_schema",
														"type": "Expression"
													},
													"table": {
														"value": "@item().tablename",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_parquet",
												"type": "DatasetReference",
												"parameters": {
													"p_folder_path": {
														"value": "@concat('EMR/',item().targetpath)",
														"type": "Expression"
													},
													"p_file_name": {
														"value": "@{item().tablename}",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Stored procedure1",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy_full_load",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[insertlogs]",
											"storedProcedureParameters": {
												"data_source": {
													"value": {
														"value": "@item().data_source",
														"type": "Expression"
													},
													"type": "String"
												},
												"loaddate": {
													"value": {
														"value": "@utcNow()",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"numberofrowscopied": {
													"value": {
														"value": "@activity('Copy_full_load').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"tablename": {
													"value": {
														"value": "@item().tablename",
														"type": "Expression"
													},
													"type": "String"
												},
												"watermarkcolumn": {
													"value": {
														"value": "@item().watermarkcolumn",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_sql_db",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}