Pipeline/pipeline/pl_cp_sql_to_bronze_parquet.json
{
	"name": "pl_cp_sql_to_bronze_parquet",
	"properties": {
		"activities": [
			{
				"name": "config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_db",
						"type": "DatasetReference",
						"parameters": {
							"ds_p_schema": "dbo",
							"ds_p_table": "config"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('config').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "FileExists",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adls_parquet",
									"type": "DatasetReference",
									"parameters": {
										"ds_p_folder_name": {
											"value": "@concat('EMR/',item().targetpath)",
											"type": "Expression"
										},
										"ds_p_filename": {
											"value": "@item().tablename",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							}
						},
						{
							"name": "IfFileExists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "FileExists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('FileExists').output.exists",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "archive",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ParquetSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "ParquetReadSettings"
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_adls_parquet",
												"type": "DatasetReference",
												"parameters": {
													"ds_p_folder_name": {
														"value": "@concat('EMR/',item().targetpath)",
														"type": "Expression"
													},
													"ds_p_filename": "@item().tablename"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_parquet",
												"type": "DatasetReference",
												"parameters": {
													"ds_p_folder_name": {
														"value": "@concat('EMR/',item().targetpath,'/archive/',formatDateTime(utcNow(),'yyyy'),'/',formatDateTime(utcNow(),'%M'),'/',formatDateTime(utcNow(),'%d'))",
														"type": "Expression"
													},
													"ds_p_filename": {
														"value": "@item().tablename",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "IfLoadType",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "IfFileExists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().loadtype,'Full')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "last_fetched_date",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat(\n    'SELECT COALESCE(CAST(MAX(loaddate) AS DATE), ''1990-01-01'') AS last_fetched_date\n    FROM dbo.logs\n    WHERE tablename = '\n    ,'''',\n    item().hosp_schema,\n    '.',\n    item().tablename,\n    ''''\n    )",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_sql_db",
												"type": "DatasetReference",
												"parameters": {
													"ds_p_schema": "dbo",
													"ds_p_table": "logs"
												}
											},
											"firstRowOnly": false
										}
									},
									{
										"name": "CopyIncremenetalLoad",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "last_fetched_date",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat('select * from ',\n        item().hosp_schema,\n        '.',\n        item().tablename,\n        ' where ',\n        item().watermark,\n        '>=' ,\n        '''',\n        activity('last_fetched_date').output.value[0].last_fetched_date,\n        '''')",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_sql_db",
												"type": "DatasetReference",
												"parameters": {
													"ds_p_schema": "'ss'",
													"ds_p_table": "'ss'"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_parquet",
												"type": "DatasetReference",
												"parameters": {
													"ds_p_folder_name": {
														"value": "@concat('EMR/',item().targetpath)",
														"type": "Expression"
													},
													"ds_p_filename": {
														"value": "@item().tablename",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "InsertLogs_incremental",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CopyIncremenetalLoad",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[insertlogs]",
											"storedProcedureParameters": {
												"data_source": {
													"value": {
														"value": "@item().datasource",
														"type": "Expression"
													},
													"type": "String"
												},
												"hosp_schema": {
													"value": {
														"value": "@item().hosp_schema",
														"type": "Expression"
													},
													"type": "String"
												},
												"loaddate": {
													"value": {
														"value": "@utcNow()",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"numberofrowscopied": {
													"value": {
														"value": "@activity('CopyIncremenetalLoad').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"tablename": {
													"value": {
														"value": "@item().tablename",
														"type": "Expression"
													},
													"type": "String"
												},
												"watermarkcolumn": {
													"value": {
														"value": "@item().watermark",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_sql_db",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "CopyFullLoad",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat(\n        'SELECT * ,',\n        '''',\n        item().datasource,\n        '''',\n        ' AS datasource FROM ',\n        item().hosp_schema,'.', item().tablename\n)",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_sql_db",
												"type": "DatasetReference",
												"parameters": {
													"ds_p_schema": {
														"value": "@item().hosp_schema",
														"type": "Expression"
													},
													"ds_p_table": {
														"value": "@item().tablename",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_adls_parquet",
												"type": "DatasetReference",
												"parameters": {
													"ds_p_folder_name": {
														"value": "@concat('EMR/',item().targetpath)",
														"type": "Expression"
													},
													"ds_p_filename": {
														"value": "@item().tablename",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "InsertLogs",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CopyFullLoad",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[insertlogs]",
											"storedProcedureParameters": {
												"data_source": {
													"value": {
														"value": "@item().datasource",
														"type": "Expression"
													},
													"type": "String"
												},
												"hosp_schema": {
													"value": {
														"value": "@item().hosp_schema",
														"type": "Expression"
													},
													"type": "String"
												},
												"loaddate": {
													"value": {
														"value": "@utcNow()",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"numberofrowscopied": {
													"value": {
														"value": "@activity('CopyFullLoad').output.rowsCopied",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"tablename": {
													"value": {
														"value": "@item().tablename",
														"type": "Expression"
													},
													"type": "String"
												},
												"watermarkcolumn": {
													"value": {
														"value": "@item().watermark",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_sql_db",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}