hospitalDataFactorySumit/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "hospitalDataFactorySumit"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"ls_adls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adls'"
		},
		"ls_sql_db_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sql_db'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlshosptial.dfs.core.windows.net/"
		},
		"ls_adls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlshosptial.dfs.core.windows.net/"
		},
		"ls_key_vault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://hospitalvaultkawal.vault.azure.net/"
		},
		"ls_sql_db_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "hospitalserver.database.windows.net"
		},
		"ls_sql_db_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "hospital_DB"
		},
		"ls_sql_db_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "hospital_login"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_config_to_sql')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_config",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "config",
									"wildcardFileName": "config.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_adls_csv",
								"type": "DatasetReference",
								"parameters": {
									"hospital": "'ss'",
									"csvFile": "'ss'"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_db",
								"type": "DatasetReference",
								"parameters": {
									"ds_p_schema": "dbo",
									"ds_p_table": "config"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_adls_csv')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_cp_sql_to_bronze_parquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_sql_db",
								"type": "DatasetReference",
								"parameters": {
									"ds_p_schema": "dbo",
									"ds_p_table": "config"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachFile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('config').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "FileExists",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "ds_adls_parquet",
											"type": "DatasetReference",
											"parameters": {
												"ds_p_folder_name": {
													"value": "@concat('EMR/',item().targetpath)",
													"type": "Expression"
												},
												"ds_p_filename": {
													"value": "@item().tablename",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"exists"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "ParquetReadSettings"
										}
									}
								},
								{
									"name": "IfFileExists",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "FileExists",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@activity('FileExists').output.exists",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "archive",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ParquetSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "ParquetReadSettings"
														}
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_adls_parquet",
														"type": "DatasetReference",
														"parameters": {
															"ds_p_folder_name": {
																"value": "@concat('EMR/',item().targetpath)",
																"type": "Expression"
															},
															"ds_p_filename": "@item().tablename"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_parquet",
														"type": "DatasetReference",
														"parameters": {
															"ds_p_folder_name": {
																"value": "@concat('EMR/',item().targetpath,'/archive/',formatDateTime(utcNow(),'yyyy'),'/',formatDateTime(utcNow(),'%M'),'/',formatDateTime(utcNow(),'%d'))",
																"type": "Expression"
															},
															"ds_p_filename": {
																"value": "@item().tablename",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								},
								{
									"name": "IfLoadType",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "IfFileExists",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(item().loadtype,'Full')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "last_fetched_date",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat(\n    'SELECT COALESCE(CAST(MAX(loaddate) AS DATE), ''1990-01-01'') AS last_fetched_date\n    FROM dbo.logs\n    WHERE tablename = '\n    ,'''',\n    item().hosp_schema,\n    '.',\n    item().tablename,\n    ''''\n    )",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_sql_db",
														"type": "DatasetReference",
														"parameters": {
															"ds_p_schema": "dbo",
															"ds_p_table": "logs"
														}
													},
													"firstRowOnly": false
												}
											},
											{
												"name": "CopyIncremenetalLoad",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "last_fetched_date",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat('select * from ',\n        item().hosp_schema,\n        '.',\n        item().tablename,\n        ' where ',\n        item().watermark,\n        '>=' ,\n        '''',\n        activity('last_fetched_date').output.value[0].last_fetched_date,\n        '''')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_sql_db",
														"type": "DatasetReference",
														"parameters": {
															"ds_p_schema": "'ss'",
															"ds_p_table": "'ss'"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_parquet",
														"type": "DatasetReference",
														"parameters": {
															"ds_p_folder_name": {
																"value": "@concat('EMR/',item().targetpath)",
																"type": "Expression"
															},
															"ds_p_filename": {
																"value": "@item().tablename",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "InsertLogs_incremental",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "CopyIncremenetalLoad",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[insertlogs]",
													"storedProcedureParameters": {
														"data_source": {
															"value": {
																"value": "@item().datasource",
																"type": "Expression"
															},
															"type": "String"
														},
														"hosp_schema": {
															"value": {
																"value": "@item().hosp_schema",
																"type": "Expression"
															},
															"type": "String"
														},
														"loaddate": {
															"value": {
																"value": "@utcNow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"numberofrowscopied": {
															"value": {
																"value": "@activity('CopyIncremenetalLoad').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"tablename": {
															"value": {
																"value": "@item().tablename",
																"type": "Expression"
															},
															"type": "String"
														},
														"watermarkcolumn": {
															"value": {
																"value": "@item().watermark",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_sql_db",
													"type": "LinkedServiceReference"
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "CopyFullLoad",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_sql_db",
														"type": "DatasetReference",
														"parameters": {
															"ds_p_schema": {
																"value": "@item().hosp_schema",
																"type": "Expression"
															},
															"ds_p_table": {
																"value": "@item().tablename",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_adls_parquet",
														"type": "DatasetReference",
														"parameters": {
															"ds_p_folder_name": {
																"value": "@concat('EMR/',item().targetpath)",
																"type": "Expression"
															},
															"ds_p_filename": {
																"value": "@item().tablename",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "InsertLogs",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "CopyFullLoad",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[insertlogs]",
													"storedProcedureParameters": {
														"data_source": {
															"value": {
																"value": "@item().datasource",
																"type": "Expression"
															},
															"type": "String"
														},
														"hosp_schema": {
															"value": {
																"value": "@item().hosp_schema",
																"type": "Expression"
															},
															"type": "String"
														},
														"loaddate": {
															"value": {
																"value": "@utcNow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"numberofrowscopied": {
															"value": {
																"value": "@activity('CopyFullLoad').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"tablename": {
															"value": {
																"value": "@item().tablename",
																"type": "Expression"
															},
															"type": "String"
														},
														"watermarkcolumn": {
															"value": {
																"value": "@item().watermark",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "ls_sql_db",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sql_db')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_parquet')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_csv_adls_to_sql')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachCSV",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.CSV_Array",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "csv_to_sql_hospa",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_adls_csv",
											"type": "DatasetReference",
											"parameters": {
												"hospital": {
													"value": "@pipeline().parameters.pp_hospital",
													"type": "Expression"
												},
												"csvFile": {
													"value": "@concat(item(),'.csv')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_sql_db",
											"type": "DatasetReference",
											"parameters": {
												"ds_p_schema": {
													"value": "@pipeline().parameters.pp_hospital",
													"type": "Expression"
												},
												"ds_p_table": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "csv_to_sql_hospb",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_adls_csv",
											"type": "DatasetReference",
											"parameters": {
												"hospital": {
													"value": "@pipeline().parameters.pp_hospital_b",
													"type": "Expression"
												},
												"csvFile": {
													"value": "@concat(item(),'.csv')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_sql_db",
											"type": "DatasetReference",
											"parameters": {
												"ds_p_schema": {
													"value": "@pipeline().parameters.pp_hospital_b",
													"type": "Expression"
												},
												"ds_p_table": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pp_hospital": {
						"type": "String",
						"defaultValue": "HospitalA"
					},
					"CSV_Array": {
						"type": "array",
						"defaultValue": [
							"departments",
							"encounters",
							"patients",
							"providers",
							"transactions"
						]
					},
					"Schema": {
						"type": "string",
						"defaultValue": "hospa"
					},
					"pp_hospital_b": {
						"type": "string",
						"defaultValue": "HospitalB"
					},
					"Schema_b": {
						"type": "string",
						"defaultValue": "hospb"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-03T04:59:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_adls_csv')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"hospital": {
						"type": "String"
					},
					"csvFile": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().csvFile",
							"type": "Expression"
						},
						"folderPath": {
							"value": "EMR/@{dataset().hospital}",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ds_p_folder_name": {
						"type": "String"
					},
					"ds_p_filename": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().ds_p_filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().ds_p_folder_name",
							"type": "Expression"
						},
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_db')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_db",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ds_p_schema": {
						"type": "String"
					},
					"ds_p_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().ds_p_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().ds_p_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_key_vault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_key_vault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_sql_db_properties_typeProperties_server')]",
					"database": "[parameters('ls_sql_db_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_sql_db_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sql_db_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}